h1 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.terms-list-container {
    color: white;
    max-width: 40em;
    margin: 0 auto;
    padding: 60px 20px;
    line-height: 1.5;
    font-size: 18px;
    background: white;
    color: #111;
    padding: 50px;
    border-radius: 12px;
}